html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

h1 {
  text-align: center;
  background-color: rgb(251, 101, 246);
  font-family: 'Lugrasimo', static;
  color: rgb(255, 233, 238);
  text-transform: uppercase;
  line-height: 30px;
  font-weight: 100;
  font-size: 70px;
  -webkit-text-stroke: 0.5px black;
  text-shadow: 6px 0 0 rgb(198, 139, 185), 0 1px 0 rgb(235, 151, 222), -1px 0 0 rgb(241, 93, 199), 0 -1px 0 rgb(211, 99, 168);

}

#mainFlexContainer {
  background-color: lavenderblush;


  width: 100%;
  margin: auto;

  /* text-align: left; */

  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: flex-start;
}

.intro {
  max-width: 240px;
  margin: 10px;
}

.credits {
  max-width: 240px;
  margin: 10px;
}

@media(max-width: 1100px) {
  #mainFlexContainer {
    flex-direction: column;
    max-width: 800px;
  }

  .intro {
    max-width: 100%;
    order: 2;
  }

  #p5-canvas-container {
    order: 1;
  }

  .credits {
    max-width: 100%;
    order: 3;
  }

}

.container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 100%;
  max-width: 1000px;

  .box {
    flex: 0 1 calc(33.33% - 50px);
    height: 300px;
    margin: 25px 0;
    padding: 10px;
    border: 1px solid rgba(255, 149, 225, 0.884);
    border-width: 10px;
  }

  #special-box {
    background-color: rgb(235, 185, 230);
  }

  #special-box1 {
    background-color: rgb(135, 48, 126);
  }

  #special-box-2 {
    background-color: rgb(243, 232, 242);
  }
}

#cnvcontainer {
  display: block;
}

#mainFlexContainer1 {
  display: flex;
  justify-content: center;
  width: 96%;
  max-width: 1200px;
  margin: auto;
  text-align: left;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/* page2 */
#container1 {
  display: flex;
  justify-content: center;
}

#special-box3 {
  margin: 10px;
}

#special-box4 {
  margin: 10px;
}

/* page4 */
#container2 {
  display: flex;
  flex-direction: column;
  align-items: center;

  .box {
    flex: 0 1 calc(30px);
    height: 30px;
    margin: 25px 0;
    padding: 10px;
    border: 1px solid rgba(254, 166, 222, 0.884);
    border-width: 10px;
  }

  #special-box-6 {
    background-color: rgb(255, 238, 254);
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 30px;
    width: 80%;
    height: 30px;
    text-align: center;
    font-family: 'Lugrasimo', static;
    color: rgb(142, 12, 97);

    font-weight: 40;
    font-size: 40px;
    -webkit-text-stroke: 0.5px rgb(228, 104, 174);
  }

}

.box-scroll {
  overflow: auto;
}

#p5-canvas {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
}

#canvas1 {
  position: absolute;
  display: block;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pink-button {
  background-color: rgb(255, 187, 240);
  color: rgb(117, 16, 131);
  border: rgb(211, 99, 168);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

#pink {
  position: absolute;
  bottom: 15%;
}

#pp {
  position: absolute;
  bottom: 7%;
}