html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

h1 {
  text-align: center;
  background-color: rgb(251, 101, 246);
  font-family: 'Lugrasimo', static;
  color: rgb(255, 233, 238);
  text-transform: uppercase;
  line-height: 30px;
  font-weight: 100;
  font-size: 70px;
  -webkit-text-stroke: 0.5px black;
  text-shadow: 6px 0 0 rgb(198, 139, 185), 0 1px 0 rgb(235, 151, 222), -1px 0 0 rgb(241, 93, 199), 0 -1px 0 rgb(211, 99, 168);

}

#mainFlexContainer {
  background-color: lavenderblush;
  display: flex;
  width: 96%;
  max-width: 1800px;
  margin: auto;
  text-align: left;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;

}

.intro {
  max-width: 270px;
  margin: 10px;
}

.credits {
  max-width: 270px;
  margin: 10px;

}

@media(max-width: 900px) {
  #mainFlexContainer {
    flex-direction: column;
    max-width: 600px;
  }

  .intro {
    width: 500px;
    order: 2;
  }

  #p5-canvas-container {
    order: 1;
  }

  .credits {
    max-width: 500px;
    order: 3;
  }

}

.container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 100%;
  max-width: 1000px;

  .box {
    flex: 0 1 calc(33.33% - 50px);
    height: 300px;
    margin: 25px 0;
    padding: 10px;
    border: 1px solid rgba(255, 149, 225, 0.884);
    border-width: 10px;
  }

  #special-box {
    background-color: rgb(235, 185, 230);


  }

  #special-box1 {
    background-color: rgb(135, 48, 126);
  }

  #special-box-2 {
    background-color: rgb(243, 232, 242);
  }
}

#cnvcontainer {
  display: block;
}



#mainFlexContainer1 {
  display: flex;
  justify-content: center;
  width: 96%;
  max-width: 1200px;
  margin: auto;
  text-align: left;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}


#container1 {
  display: flex;
  justify-content: center;
}

#special-box3 {
  margin: 10px;
}

#special-box4 {
  margin: 10px;
}

/* .box {
  flex: 0 1 calc(50% - 50px);
  height: 700px;
  margin: 25px;
  padding: 10px;
  border: 1px solid rgba(255, 149, 225, 0.884);
  border-width: 10px;
  text-align: center;
} */

.box-scroll {
  overflow: auto;
}

#p5-canvas {
  display: block;
  justify-content: center;
}

.pink-button {
  background-color: rgb(255, 187, 240);
  color: rgb(117, 16, 131);
  border: rgb(211, 99, 168);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}